<% title "Contact" %>
<div class="post">  
	    <p align="center"><b>Please provide your name, contact information, and any previous water polo or aquatic experience. </b></p> 
    	<p align="center"><i><u>No previous Water Polo is needed.</u></i> However, we do highly recommend have aquatic experience in competitive swimming.  </p>
</div>
<div class="post">		
			<h3><b><u>Club President:</b></u>
    			Max Cowart </h3>
    			<p>email: <a href="mailto:mcowart@student.umass.edu" target="_blank">mcowart@student.umass.edu</a></p>
		
</div>
<div class="post">
			<h3><b><u>Team Captain:</b></u>
    			Adam Sunshine</h3>
    			<p>email: <a href="mailto:asunshin@student.umass.edu" target="_blank">asunshin@student.umass.edu</a></p>
		
</div>
<div class="post">
			<h3><b><u>Assistant Captain:</b></u>
                        Evan McHugh</h3>
    			<p>email: <a href="mailto:elmchugh@student.umass.edu" target="_blank">elmchugh@student.umass.edu</a></p>
		
</div>
<div class="post">
			<h3><b><u>Assistant Captain:</b></u>
    			Alaa El-Shafei</h3>
    			<p>email: <a href="mailto:alaael@gmail.com" target="_blank">alaael@gmail.com</a></p></div>
