<% title "Donate" %>
<div class="post">
<h3>Donate to the club</h3>
<p>Please visit the UMass Alumni Association to learn how you can donate to the UMass Club Water Polo team. We appreciate all the help we can get.</p>
<p>You can click <a href='http://umassalumni.com/' target='blank'>here</a> to be redirected to the UMass Alumni Association website</p>
</div>


